<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background-image">
    <div class="center">
        <br><br><br><br>
      <h1><b><i> La'Cafe Coffee </i></b></h1>
      <h6>coffee ordering app at your finger tips..</h6>
    </div>
    <br><br><br>
  <ion-item class="field">
    <ion-icon name="person" item-left></ion-icon>
    <ion-input type="text" placeholder="UserName"></ion-input>
  </ion-item>
  <br>
  <ion-item class="field">
    <ion-icon name="lock" item-left></ion-icon>
    <ion-input type="password" placeholder="Password"></ion-input> 
    <ion-icon name="ios-eye-outline" item-right></ion-icon>
  </ion-item>
  <br><br><br>
  <ion-button size="large" color="medium" (click)="order()" >Login</ion-button>
</ion-content>
