<!-- <ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="dark" >
    <h1><b><i> La'Cafe Coffee </i></b></h1> 
    <h6>coffee ordering app at your finger tips..</h6>
     <ion-card>
        <img src="/assets/images.jpg">
<!--     
         <img src="/assets/images6.jpg"> -->
<!--               
          <img src="/assets/images.jpg">
                
          <img src="/assets/images3.jpg"> -->
                        
          <img src="/assets/coffee-mug-1493946797.jpg">
                 
          <!-- <img src="/assets/download1.png"> -->
          <h6 text-center>Place Order here</h6>
          <ion-icon  style="zoom:4.0;" name="add" (click)="add()"></ion-icon>

        </ion-card>
                  
</ion-content>
