<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="background-image">
  <div class="center">
      <br><br><br><br><br><br><br><br><br>
    <h1><b><i> La'Cafe Coffee </i></b></h1>
    <h6>coffee ordering app at your finger tips..</h6>
  </div>
<ion-card>
<img src="/assets/images7.jpg">
<h2><b><i> La'Cafe Coffee </i></b></h2> 
<ion-icon  style="zoom:3.0;" name="arrow-round-forward" (click)="login()"></ion-icon>
</ion-card>

</ion-content>
